/debug_final_capture.png
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/FoxTeX.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
